<!-- ======= Header ======= -->
<header id="header" class="header sticked d-flex align-items-center fixed-top">
  <div
    class="container-fluid container-xl d-flex align-items-center justify-content-between"
  >
    <a routerLink="/" class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1>Sea Ways Delivery</h1>
    </a>
    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li>
          <a routerLink="/services" routerLinkActive="active">Services</a>
        </li>
        <li><a routerLink="/pricing" routerLinkActive="active">Pricing</a></li>

        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        <li>
          <a
            class="track_Item"
            routerLink="/track-item"
            routerLinkActive="active"
          >
            Track Item</a
          >
        </li>
      </ul>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
<!-- End Header -->
