<footer id="footer" class="footer">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-info">
        <a routerLink="/" class="logo d-flex align-items-center">
          <span>Sea Ways Delivery</span>
        </a>
        <p>
          Your package and safety are our top priorities. From secure handling
          to real-time tracking and contactless delivery, we’re here to ensure
          your items arrive safely and on time. Thank you for trusting us
          with your delivery!
        </p>
        <div class="mt-4 social-links d-flex">
          <a routerLink="/services" class="twitter"
            ><i class="bi bi-twitter"></i
          ></a>
          <a routerLink="/services" class="facebook"
            ><i class="bi bi-facebook"></i
          ></a>
          <a routerLink="/services" class="instagram"
            ><i class="bi bi-instagram"></i
          ></a>
          <a routerLink="/services" class="linkedin"
            ><i class="bi bi-linkedin"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a routerLink="/services">Home</a></li>
          <li><a routerLink="/services">About us</a></li>
          <li><a routerLink="/services">Services</a></li>
          <li><a routerLink="/services">Terms of service</a></li>
          <li><a routerLink="/services">Privacy policy</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Our Services</h4>
        <ul>
          <li><a routerLink="/services">Fast & Reliable Delivery</a></li>
          <li><a routerLink="/services">Express & Same-Day Delivery</a></li>
          <li><a routerLink="/services">Scheduled Deliveries</a></li>
          <li><a routerLink="/services">Real-Time Order Tracking</a></li>
          <li><a routerLink="/services">Multiple Payment Options </a></li>
        </ul>
      </div>
      <div class="text-center col-lg-3 col-md-12 footer-contact text-md-start">
        <h4>Contact Us</h4>
        <p>
          we have offices around the world<br />
          Carlifornia USA, Mexico, Dubai, Netherlands<br />
          headquarters: <span> Dubai</span> <br /><br />
          <strong>Phone:</strong> {{ phoneNumber() }}<br />
          <strong>Email:</strong> {{ email() }}<br />
        </p>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="copyright">
      © Copyright <strong><span>S-Way</span></strong
      >. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a routerLink="/services">Woods Industries</a>
    </div>
  </div>
</footer>
<!-- End Footer -->
<!-- End Footer -->
